{% extends 'Subscription/base.html' %}

{% block content %}
<form method="POST">
  {% csrf_token %}
  {% for field in form %}
    <div class="fieldWrapper">
      <div class="row">
      <div class="col-md-12">
        {{ field.label_tag }}
      </div>
      </div>
      <div class="col-md-12">
        {{ field }}
      </div>
      <div class="col-md-12">
        <div class="error">{{ field.errors }}</div>
      </div>
      <div class="col-md-12">
      {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
      {% endif %}
      </div>
    </div>
  {% endfor %}
  </br>
  </br>
  <div class="col-md-12">
    <button type="submit" class="btn btn-primary btn-lg">Inschrijven</button>
  </div>
</form>
{% endblock %}
